.qrcode-popover {
  cursor: pointer;
}
.vite-post-reward {
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  .vite-img-addr-icon {
    height: 14px;
    width: 14px;
    cursor: pointer;
  }
}

.post-header {
  .ns-awards-topic {
    margin: 0;
    padding-left: 7px;
    .ns-awards-topic__item {
      height: 16px;
      width: 16px;
      margin: 0 4px;
    }
  }
}
